<ul class="shop-list">
    <li>
        <%= link_to("詳しい営業時間のご案内", "http://www.coop.kyushu-u.ac.jp/data/ontime202010.pdf") %>
    </li>
    <li>
        <%= link_to("購買部HP", "http://www.coop.kyushu-u.ac.jp/koubaibu.html") %>
    </li>
</ul>