//ヘッダー
header {
    height: 64px;
    position: absolute;
    z-index: 1;
    background-color: darkred;
    width: 100%;
  }
  
  .header-logo {
    float: left;
    padding-left: 20px;
    color: black;
    font-size: 22px;
    line-height: 64px;
  }
  
  .header-logo a{
  color: black;
  font-size: 22px;
  }
  
  .header-menus {
  float: right;
  padding-right: 20px;
  }
  
  .header-menus li {
  list-style: none;
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: black;
  padding-left: 15px;
  }
  
  .header-menus a {
  float: left;
  font-size: 13px;
  color: black;
  }
  
  .header-menus .fa {
  padding-right: 5px;
  }
  
  .header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
  }  