// top
.main {
    width: 570px;
    height: auto;
    min-height: 100%;
    background-color: #f5f8fa;
    margin-top: 10px;
    margin-bottom: 20px;
}
// ↑をまたイジる

.site-list {
  display: flex;
}

.site-list li {
  margin-right: 10px;
  margin-bottom: 20px;
}

.part {
  margin-bottom: 20px;
}

.btn {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.small-btn {
  font-size: .1rem;
  font-weight: 600;
  line-height: .1;
  position: relative;
  display: inline-block;
  padding: 1rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-campusmate,
.btn-moodle,
.btn-seikyou,
.btn-showa,
.btn-nishitetu,
.btn-chuou,
.btn-rikei,
.btn-cafe {
  color: #fff;
  background-color: #e3373d;
}

.btn-campusmate:hover,
.btn-moodle:hover,
.btn-seikyou:hover,
.btn-showa:hover,
.btn-nishitetu:hover,
.btn-chuou:hover,
.btn-rikei:hover,
.btn-cafe:hover { 
  color: #fff;
  background-color: #b10721;
}

p {
  color: black;
}

// .top.html {
//   display: flex;
// }

.left {
  float: left;
  width: 72%;
}

.right {
  float: right;
  width: 24%;
  position: fixed;
  right: 25px;
  border-style: solid;
  padding: 5px;
}

.post {
  margin-bottom: 10px;
}

.posts-index-items {
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
}

.posts-index-item {
  width: 100%;
}

.post-detail {
  font-size: 0.5rem;
}

.top-content {
  display: flex;
}

.company-items {
  display: flex;
}

.btn-time {
  display: flex;
}

.time-margin {
  margin-left: 10px;
}

ul {
  display: flex;
}

.wrdbus,
.showa,
.nishitetsu,
.library,
.cafe,
.shop {
  border-style: solid;
  padding: 5px;
  
}

.bus-item,
.library-item,
.cafe-item,
.shop-item {
  margin: 5px;
}

.bus-item {
  margin-bottom: 15px;
}

.cafe-item,
.shop-item {
  margin-left: 20px;
  display: flex;
}

.cafe-item2 {
  display: flex;
}

.bus-theme,
.library-theme,
.cafe-theme,
.shop-theme {
  font-weight: bold;
}


.library-items {
  display: flex;
  justify-content: space-between;
}

.cafe-items,
.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cafe-list {
  display: flex;
}

.cafe-lunch,
.cafe-dinner {
  display: flex;
}

.ikei-idou {
  margin: 20px 0 0 30px;
}

.cafe-main-theme,
.shop-main-theme {
  margin-top: 10px;
  font-weight: bold;
}

.shop-main-theme-east {
  margin-top: 0px;
  font-weight: bold;
}

.library-btn-list,
.cafe-btn-list {
  margin: 5px 4px;
}

.showa {
  width: 40%;
}

.nishitetsu {
  width: 60%;
}

.caution {
  margin-left: 20px;
}

textarea {
  width: 100%;
  border: 0px;
}