@media (min-width: 320px) {
  main {
    font-size: 0.7rem;
  }
  .left {
    width: 100%;
  }
  .right {
    display: none;
  }
}


/* 疑似ヘッダー ================================ */
.top-content {
  display: flex;
}

.site-list {
  display: flex;
}

.site-list li {
  margin-right: 10px;
  margin-bottom: 20px;
}
/* 疑似ヘッダー終了 ================================ */


/* ボタン ================================ */
.small-btn {
  font-size: .1rem;
  font-weight: 600;
  line-height: .1;
  position: relative;
  display: inline-block;
  padding: 0.6rem 0.6rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-campusmate,.btn-moodle,
.btn-seikyou,.btn-showa,
.btn-nishitetu,.btn-chuou,
.btn-rikei,.btn-cafe {
  color: #fff;
  background-color: #e3373d;
}

.btn-nishitetu {
  margin: 5px 0;
}

.btn-campusmate:hover,.btn-moodle:hover,
.btn-seikyou:hover,.btn-showa:hover,
.btn-nishitetu:hover,.btn-chuou:hover,
.btn-rikei:hover,.btn-cafe:hover { 
  color: #fff;
  background-color: #b10721;
}

/* ボタン終了 ================================ */


/* バス ================================ */
.company-items {
  display: flex;
}

.btn-time {
  display: flex;
}

.time-margin {
  margin-left: 10px;
}

ul {
  display: flex;
}

.bus-item {
  margin-bottom: 15px;
}

.showa {
  width: 40%;
}

.nishitetsu {
  width: 60%;
}
/* バス終了 ================================ */


/* バス、図書館、学食、売店 ================================ */
.wrdbus,
.showa,
.nishitetsu,
.library,
.cafe,
.shop {
  border-style: solid;
  padding: 5px;
  
}

.cafe-shop {
  display: flex;
}

.cafe,
.shop {
  width: 50%;
}

.bus-item,
.library-item,
.cafe-item,
.shop-item {
  margin: 5px;
}

.cafe-item,
.shop-item {
  margin-left: 20px;
  display: flex;
}

.cafe-btn-lists {
  display: flex;
  justify-content: space-around;
}

.cafe-left {
  width: 20%;
}

.cafe-right {
  width: 80%;
  display: flex;
  flex: wrap;
}

.cafe-item2 {
  display: flex;
}

.bus-theme,
.library-theme,
.cafe-theme,
.shop-theme {
  font-weight: bold;
}


.library-items {
  display: flex;
  justify-content: space-between;
}

// .cafe-big-items {
//   display: flex;
//   flex-wrap: wrap;
// }
// .cafe-items,
// .shop-items {
//   // display: flex;
//   // flex-wrap: wrap;
//   // justify-content: space-around;
// }

.cafe-btn-lists {
  display: flex;
  flex: wrap;
}

// .cafe-lunch,
// .cafe-dinner {
//   display: flex;
// }

.cafe-main-theme,
.shop-main-theme {
  margin-top: 10px;
  font-weight: bold;
}

.shop-main-theme-east {
  margin-top: 20px;
  font-weight: bold;
}

.library-btn-list,
.cafe-btn-list {
  margin: 5px 4px;
}

.caution {
  margin-left: 20px;
}
/* バス、図書館、学食、売店終了 ================================ */