/* 簡素なヘッダー ================================ */

// サイトの名前とボタンを一列に揃える
.top-content {
  display: flex;
}

// ボタン同士の間隔を作る
.site-list li {
  margin-right: 10px;
  margin-bottom: 20px;
}

/* 簡素なヘッダー終了 ================================ */


/* バス、図書館、学食、売店 共通のデザイン ================================ */

// 各セクションにpaddingをつける
.wrdbus,
.showa,
.nishitetsu,
.library,
.cafe,
.shop {
  padding: 15px;
}

// 各セクション内の中の情報の間に空間を作る。
.bus-item,
.library-item,
.cafe-item,
.shop-item {
  margin: 5px;
}

// 各セクションのテーマを太字にする
.bus-theme,
.library-theme,
.cafe-theme,
.shop-theme {
  font-weight: bold;
}

/* バス、図書館、学食、売店 共通のデザイン終了 ================================ */


/* バス ================================ */

// ２つのバス会社をひっくるめたボックス
.company-items {
  display: flex;
}

// そのボックス間で、昭和バスと西鉄バスの割合
.showa {
  width: 45%;
}
.nishitetsu {
  width: 55%;
}


// 時刻表を見るボタンと時刻表を一列に揃える
.btn-time {
  display: flex;
}

// 時刻表を見るボタンと時刻表の間に空間を作り見やすくする
.time-margin {
  margin-left: 5px;
}

/* バス終了 ================================ */


/* 図書館 ================================ */

// １つの図書館の情報を一列にまとめる
.library-item {
  display: flex;
}

// すべての図書館をひとまとまりにする
.library-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;
}

// 図書館セクション内のボタン
.library-btn-list {
  margin: 5px 4px;
}

/* 図書館終了 ================================ */


/* 学食、売店 ================================ */

// 学食と売店をまとめたボックス
.cafe-shop {
  display: flex;
}
// そのボックス間で、学食と売店の割合
.cafe {
  width: 50%;
}
.shop {
  width: 50%;
}

// １つの学食（売店）に対して
.cafe-item,
.shop-item {
  margin-left: 20px;
  display: flex;
}

//「学食」「売店」のゾーン・キャンパスを表示（伊都　センターゾーン）
.cafe-main-theme,
.shop-main-theme {
  margin-top: 10px;
  font-weight: bold;
}
.shop-main-theme-east {
  margin-top: 20px;
  font-weight: bold;
}

// 注釈
.caution {
  margin-bottom: 10px;
  font-size: 80%;
}

/* 学食、売店終了 ================================ */