/* 投稿機能 ================================ */

.post {
  margin-bottom: 10px;
}

// つぶやきのまとまり
.posts-index-items {
  overflow-y: scroll;
  max-height: 315px;
  width: 100%;
  margin-bottom: 10px;
}

// 重要ではないところの文字を小さくする
.post-detail {
  font-size: 0.5rem;
}

// 各つぶやき
.posts-index-item {
  width: 100%;
  padding: 10px 8px;
  background-color: #F0F2F5;
  overflow: hidden;
  box-shadow: 0 1px 1px grey;
}

// ユーザー名
input {
  background-color: #F0F2F5;
  border-radius: 10px;
}
// つぶやく内容
textarea {
  width: 100%;
  border: 0px;
  background-color: #F0F2F5;
  border-radius: 10px;
}
/* 投稿機能終了 ================================ */