/* 投稿機能 ================================ */

.post {
  margin-bottom: 10px;
  // height: 90vh;
}

.posts-index-items {
  overflow-y: scroll;
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
}

.post-detail {
  font-size: 0.5rem;
}

.posts-index-item {
  width: 100%;
  padding: 10px 8px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

textarea {
    width: 100%;
    border: 0px;
}
/* 投稿機能終了 ================================ */